.root
	display inline-block
	border 1px solid #ddd
	border-radius 4px
	padding 5px
	position relative
	
.steps
	position absolute
	right 0
	top -35px
	font-size 20px

.btn
	position absolute
	top -47px
	left 0
	cursor pointer