.container
	display inline-block
	height 180px
	width 120px
	text-align center

.img
	height 135px
	display inline-block
	margin 22px 10px 
	cursor pointer

.selected
	width 120px
	height 180px
	margin 0
	cursor initial